<div id="<%= dom_id chat %>">
  <p>
    <strong>Freelancer:</strong>
    <%= chat.freelancer_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= chat.client_id %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= chat.job_id %>
  </p>

</div>
